@font-face {
  font-family: 'Pokemon';
  font-style: normal;
  font-weight: normal;
  src: local('../../static/pokefont/PokemonSolid.woff'), url('../../static/pokefont/PokemonSolid.woff') format('woff');
  }
  
header {
  position: relative;
  display: block;
  width:100%;
  height: 28vh;
  width: 100vw;
  text-align: center;
}


.h1Class{
  width: 100%;
  position: relative;
  padding-top: 2rem;
    font-family:Pokemon;
    color: white;
    font-size: calc(1.5em + 1vw);
    text-shadow: -0.2rem 0 var(--pokeblue), 0 0.2rem var(--pokeblue), 0.2rem 0 var(--pokeblue), 0 -0.2rem var(--pokeblue);
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));


}