

<div class="grid">
    <div  *ngFor="let pokemon of pokemons">
        <pokemon-card [pokemon]="pokemon"> </pokemon-card>
    </div >
</div>
        <!--
        {{item.name}}

     
     <div *ngIf="pokemon.types.length === 2 else">
        Welcome!
      </div>
   

        {{item.height}}
        {{item.weight}}
<span *ngFor="let ability of item.abilities">
        {{ability.ability.name}}
</span>

<span *ngFor="let move of item.moves">  
        <br>{{move.move.name}}
</span>
          
        
        {{item.base_experience}}
        
   <span *ngFor="let stat of item.stats">       
    {{stat.base_stat}}    
    {{stat.stat.name}}
   </span>
        <span *ngFor="let type of item.types">
            {{type.type.name}}
         </span>
    </div>


 -->


<router-outlet></router-outlet>