<div class="container shadow" [style.background]="color">
    <div class="header"><h1>{{pokemon.name}}</h1></div>
    <img class="image" [src]="pokemon.image" >
    <div class="detail-box shadow" >
        <div class="stats">
            <h2>Base Stats</h2>
            <table style="padding: 5px;">
                <tr>
                    <th>HP</th>
                    <td>{{pokemon.stats.hp}}</td>
                </tr>
                <tr>
                    <th>Attack</th>
                    <td>{{pokemon.stats.attack}}</td>
                </tr>
                <tr>
                    <th>Defense</th>
                    <td>{{pokemon.stats.defense}}</td>
                </tr>
                <tr>
                    <th>Special Attack</th>
                    <td>{{pokemon.stats.special_attack}}</td>
                </tr>
                <tr>
                    <th>Special Defense</th>
                    <td>{{pokemon.stats.special_defense}}</td>
                </tr>
                <tr>
                    <th>Speed</th>
                    <td>{{pokemon.stats.speed}}</td>
                </tr>
            </table>
        </div>
        <div class="stats">
            <h2>Profile</h2>
            <table style="padding: 5px;">
                <tr>
                    <th>Base XP:</th>
                    <td>{{pokemon.base_experience}}</td>
                </tr>
                <tr>
                    <th>Weight</th>
                    <td>{{pokemon.weight}}</td>
                </tr>
                <tr>
                    <th>Height</th>
                    <td>{{pokemon.height}}</td>
                </tr>
            </table>
             <h3>Abilities:</h3>
                <p *ngFor="let ability of pokemon.abilities; index as i">
                    {{ability}}
                </p>
        </div>
    </div>
    <div class="moveList">
        <h2>Moves</h2>
        <span *ngFor="let move of pokemon.moves; index as i">
            {{move}}<span *ngIf="i != pokemon.moves.length-1">,</span>
        </span>
    </div>
</div>