.wrap{
  display: block;
  width: 100%;
  height: 100%;
}
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 350px;
  min-height: 500px;
  width: 75%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 8px;
  color: white;

}

.moveList {
  text-align: center;
  padding: 5px;
}

table {
  font-size: large;
  color: white;
  width: 100%;
  margin: 0 auto; /* or margin: 0 auto 0 auto */
}
th {
  text-align: left;
}

table#child2 {
  background: cyan;
  table-layout: fixed;
  width: 100%;
}
table#child2 td {
  white-space: normal;
  word-wrap: break-word;
}
td {
  border: 2px solid purple;
  border-radius: 8px;
  padding: 2px;
}
.header {
  width: 100%;
  text-align: center;
  align-self: center;
}
h1 {
  font-family: pokemon;
  letter-spacing: 0.3rem;
  font-size: 35px;
  margin: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
h2 {
  width: 95%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 5px;
}
.imageWrap{
  display: flex;
  justify-content: center;
  height: 70%;
  width: auto;
}
.imageWrap img{
  height: 90%;
  width: auto;
}
.image {
  padding: 10px;
  margin: auto;
  width: 50%;
}

.detail-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: blueviolet;
  border: 1px solid blueviolet;
  border-radius: 8px;
  width: 45%;
  height: 250px;
}

.shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
