<div class="container shadow" [style.background]="color">
    <div class="header">
        <p><h1>{{name}}</h1></div>
    <img class="image" [src]="sprite" >
    <div class="detail-box shadow" >
        <div class="stats">
            <h2>Base Stats</h2>
            <table style="padding: 5px;">
                <tr>
                    <th>HP</th>
                    <td>{{hp}}</td>
                </tr>
                <tr>
                    <th>Attack</th>
                    <td>{{attack}}</td>
                </tr>
                <tr>
                    <th>Defense</th>
                    <td>{{defense}}</td>
                </tr>
                <tr>
                    <th>Special Attack</th>
                    <td>{{specialAttack}}</td>
                </tr>
                <tr>
                    <th>Special Defense</th>
                    <td>{{specialDefense}}</td>
                </tr>
                <tr>
                    <th>Speed</th>
                    <td>{{speed}}</td>
                </tr>
            </table>
        </div>
        <div class="stats">
            <h2>Profile</h2>
            <table style="padding: 5px;">
                <tr>
                    <th>Base XP:</th>
                    <td>{{baseExperience}}</td>
                </tr>
                <tr>
                    <th>Weight</th>
                    <td>{{weight}}</td>
                </tr>
                <tr>
                    <th>Height</th>
                    <td>{{height}}</td>
                </tr>
            </table>
             <h3>Abilities:</h3>
                <p *ngFor="let ability of abilities; index as i">
                    {{ability}}
                </p>
        </div>
    </div>
    <div class="moveList">
        <h2>Moves</h2>
        <span *ngFor="let move of moves; index as i">
            {{move}}<span *ngIf="i != moves.length-1">,</span>
        </span>
    </div>
</div>